<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Search Wiki</title>
	<link rel="stylesheet" type="text/css" href='../css/bootstrap.min.css'>
	<link rel="stylesheet" type="text/css" href="../css/searchwiki.css">
    <link rel="icon" type="image/png" href="../images/icon.png"/>
</head>
<body>

	<div class="title">Search Wiki</div>
	<div class="content">
		<div class="mainDiv container-fluid">
			<div class="search-before">
				<center>
					<div class="search-text">
						<input type="text" name="search-title" class="search-title">
                        <button class="button searchBtn">Search</button>
                        <button class="button backBtn">Back</button>
					</div>
					<p class="itro">Click the icon to search</p>
				</center>
			</div>
			<div class="searching">
				<ul class="search-ul">
					
				</ul>
			</div>
		</div>
	</div>
	<script src='../js/clientjs/jquery-3.3.1.min.js'></script>
	<script type="text/javascript" src="../js/clientjs/searchwiki.js"></script>
</body>
</html>