<!DOCTYPE html>
<html lang="en">

<head>
    <title>Social Auth</title>
    <meta charset="UTF-8">
    <style>
        .solidgaugeTitle {
            text-align: center;
        }
        .solidgaugeSource {
            margin-top: 10px;
            text-align: center;
            font-size: 13px;
        }
    </style>
</head>

<body>
    <script src="../js/clientjs/highcharts/highcharts.js"></script>
    
    <script src="../js/clientjs/highcharts/exporting.js"></script>
    <script src="../js/clientjs/highcharts/export-data.js"></script>
    <script src="../js/clientjs/highcharts/highcharts-more.js"></script>
    <script src="../js/clientjs/highcharts/modules/solid-gauge.js"></script>
    
<!--    <script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--    <script src="https://code.highcharts.com/highcharts-more.js"></script>-->
<!--    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>-->


    <div style="width: 600px; height: 400px; margin: 0 auto">
        <div class="solidgaugeTitle">Real-time Temperature and Humidity Monitoring</div>
        <div class="solidgaugeSource">Source: IOT Smart Shelter</div>
        <div id="container-temperature" style="width: 300px; height: 200px; float: left"></div>
        <div id="container-humidity" style="width: 300px; height: 200px; float: left"></div>
    </div>

    <script>
        var gaugeOptions = {

            chart: {
                type: 'solidgauge'
            },

            title: null,

            pane: {
                center: ['50%', '85%'],
                size: '140%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },

            tooltip: {
                enabled: false
            },

            // the value axis
            yAxis: {
                stops: [
                    [0.1, '#DF5353'], // red
                    [0.3, '#DDDF0D'], // yellow
                    [0.5, '#55BF3B'], // green
                    [0.7, '#DDDF0D'], // yellow
                    [0.9, '#DF5353']  // red
                ],
                lineWidth: 0,
                minorTickInterval: null,
                tickAmount: 2,
                title: {
                    y: -70
                },
                labels: {
                    y: 16
                }
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            }
        };

        // The speed gauge
        var chartSpeed = Highcharts.chart('container-temperature', Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 15,
                max: 35,
                title: {
                    text: 'Temperature'
                }
            },

            credits: {
                enabled: false
            },

            series: [{
                name: 'Temperature',
                data: [25],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                        '<span style="font-size:12px;color:silver">°C</span></div>'
                },
                tooltip: {
                    valueSuffix: '°C'
                }
            }]

        }));

        // The RPM gauge
        var chartRpm = Highcharts.chart('container-humidity', Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 35,
                max: 55,
                title: {
                    text: 'Humidity'
                }
            },

            series: [{
                name: 'Humidity',
                data: [45],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                        '<span style="font-size:12px;color:silver">%</span></div>'
                },
                tooltip: {
                    valueSuffix: '%'
                }
            }]

        }));

        // Bring life to the dials
        setInterval(function() {
            // Speed
            var point,
                newVal,
                inc;

            if (chartSpeed) {
                point = chartSpeed.series[0].points[0];
                point.update(30);
            }

            // RPM
            if (chartRpm) {
                point = chartRpm.series[0].points[0];
                point.update(53);
            }
        }, 2000);
    </script>
</body>

</html>